.icon_image {
    width: 100px;
    height: 100px;
    //サイズ指定
    border-radius: 200px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
  }

.room_image {
    width: 200px;
    height: 200px;
    //サイズ指定
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
  }